{% extends 'base.html' %}

{% block content %}
    <h1>Delete Post</h1>
    <p>Are you sure you want to delete "{{ post.title }}"?</p>

    <form action="{% url 'delete_post' post.id %}" method="POST">
        {% csrf_token %}
        <a href="{% url 'delete_post' post.id %}"><button type="submit" class="btn btn-danger">Delete</button></a>
        <a href="{% url 'post' post.id %}" class="btn btn-primary">Cancel</a>
    </form>
{% endblock %}




<!--
    <a href="{% url 'delete_post' post.id %}"><button type="submit" class="btn btn-danger">Delete</button></a>
        <a href="{% url 'post' post.id %}" class="btn btn-primary">Cancel</a>
-->